<ion-view title="mobile app" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/7D5bGKY4Q2DbTrmtWLHw_01-magazine-mockup-psd-824x542.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="mobileApp-list1">
      <ion-item class="item-icon-left item-icon-right" id="mobileApp-list-item2">
        <i class="icon ion-ionic"></i>Item
        <i class="icon ion-android-add"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mobileApp-list-item1" ui-sref="iOS()">
        <img src="img/fmTs6xARfu2gFFhWupvQ_ios.jpg">
        <h2>IOS</h2>
        <p style="white-space:normal;">A mobile app or mobile </p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mobileApp-list-item3" ui-sref="aPP()">
        <img src="img/cLT3kc66TDC1Rutqv4JC_1.jpg">
        <h2>app</h2>
        <p style="white-space:normal;">A mobile app or mobile </p>
      </ion-item>
    </ion-list>
    <a ui-sref="contactUs()" id="mobileApp-button17" class="button button-positive button-block">CONTACT US</a>
  </ion-content>
</ion-view>