<ion-view title="Page" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="page-slider2" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="page-slide210" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#A72837;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/5STNC9RXmLboEC6KdEwj_p2p-header.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide211" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;background-color:#2C0D88;">
        <div class="spacer" style="width: 320px; height: 165px;"></div>
        <div>
          <img src="img/d5FdfKSlQUu327KLBgwD_img-hero-products-pulse.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 140px;"></div>
        <a ui-sref="mobileApp()" id="page-button19" class="button button-positive button-block">start now</a>
      </ion-slide-page>
      <ion-slide-page id="page-slide212" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>